*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
}

input {
    padding: .5rem;
    margin: .5rem;
    border:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.442);
    border-radius: 1rem;
}
/* change background color of selected input */
input:focus {
    background-color: #93c4f6;
    border-color: #000;
  }

  table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
	vertical-align: middle;
    width: 80%;
  }

  caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 1rem;
  }

  thead {
    background-color: #333;
    color: white;
    font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
  }

  /* if border set in table it is outside, in th, td it is all cells */

  th, td {
    padding: .5rem;
  }

  thead th {
    width: 20%;
  }
/* highlight cell for emphasis */
  .cell-highlight {
    background-color: gold;
    font-weight: bold;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  button {
    border-radius: 1rem;
    padding: .5rem;
    box-shadow: .3rem .3rem grey;
  }

  button:active {
    box-shadow: inset .3rem .3rem grey;
  }

#monthly-container {
    display: flex;
    align-items: right;
    width: 80%;
    flex-flow: row-reverse;
}

#display-gauge {
    display: flex;
    align-items: center;
    flex-flow: column;
}

#gauge-back {
    border-radius: 50% 50% 0 0;
    background-color: gray;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    

}

#meter {
    background-color: red;
    height: .5rem;
    width: 5rem;
    left: 50%;
    top: 50%;
    transform-origin: 100% 50%;
    animation-fill-mode: forwards;
    
    /* animation-name: rotate;
    animation-duration: 10s; */
}

/* @keyframes rotate {
    100% {
      transform: rotateZ((var--m) deg);
    }
  } */

#center-dot {
    right: 10rem;
    left: 0;
    bottom: 5%;
}

#zero {
    position: relative;
    right: 50%;
    top: 0%
}

#five-o {
    position: relative;
    right: 10%;
    bottom: 45%
}

#hundred {
    position: relative;
    left: 17%;
    top: 0%
}
