*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#input-sec {
    border: 1rem solid lightcoral;
    margin-bottom: 2rem;
    border-radius: 1rem;
    align-content: center;
    justify-content: center;
}

input {
    padding: .5rem;
    margin: .5rem;
    border:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.442);
    border-radius: 1rem;
    padding-left: 2rem;
}
/* change background color of selected input */
input:focus {
    background-color: #93c4f6;
    border-color: #000;
  }

  #table-container {
    display: flex;
    align-items: left;
    align-content:space-between;
    border: 1rem solid lightcoral;
    border-radius: 1rem;
  }

  table {
    border-collapse: collapse;
    border: 1px solid lightcoral;
    text-align: center;
	vertical-align: middle;
    width: 80%;
    font-size: 2rem;
    color: lightseagreen;
    min-height: 10rem;
    border-right: 1rem solid lightcoral;
  }

  caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    padding: .3rem;
    margin-bottom: 2rem;
    border-bottom: 1rem solid lightcoral;
    width: 100%;
    color: darkorchid
  }

  thead {
    background-color: lightcoral;
    color: white;
    font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
  }

  /* if border set in table it is outside, in th, td it is all cells */

  th, td {
    padding: .5rem;
  }

  thead th {
    width: 20%;
  }
/* highlight cell for emphasis */
  .cell-highlight {
    background-color: lightgreen;
    font-weight: bold;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  button {
    border-radius: 1rem;
    padding: .5rem;
    box-shadow: .3rem .3rem grey;
    color: orangered;
  }

  .del-row {
    background-color: lightpink;
  }

  .delBut {
    box-shadow: .3rem .3rem rgb(77, 4, 4);
    color: orangered;
  }

  .delBut:hover {
    background-color: yellow;
  }

  button:active {
    box-shadow: inset .5rem .5rem white;
  }

#monthly-container {
    display: flex;
    align-items: right;
    width: 80vw;
    flex-flow: row-reverse;
    margin-top: 2rem;
    padding-right: 20%;
}


#display-gauge {
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
   align-self:flex-end;
   justify-self:flex-end;
   height:max-content;
   right: 0;
   left: 1.5%;
   font-family: monospace sans-serif;
   font-size: 1rem;
   background-color: antiquewhite;
}

#gauge-back {
    border-radius: 50%;
    background-color: silver;
    width: 13rem;
    height:15rem;
    display: flex;
    align-items: center;
    border-top: .3rem dashed black;
}

#meter {
    background-color: red;
    position: relative;
    height: .5rem;
    width: 5rem;
    left: 10%;
    top: 0%;
    transform-origin: 100% 50%;
    animation-fill-mode: forwards;
    
    /* animation-name: rotate;
    animation-duration: 10s; */
}

/* @keyframes rotate {
    100% {
      transform: rotateZ((var--m) deg);
    }
  } */


#zero {
    position: relative;
    right: 37%;
    bottom: 1.5%
}

#five-o {
    position: relative;
    left: 2.5%;
    bottom: 45%
}

#hundred {
    position: relative;
    left: 37%;
    bottom: 1.5%;
    color: red;
    z-index: 10;
}

h1 {
    color: darkorchid;
}

h2 {
    font-size: .5rem;
    margin: none;
    color: darkorchid;
}

p {
    color: lightseagreen;
}
